# Build and Release Folders
target/
build/
bin/
run/
.idea/
*.iml

# Other files and folders
.settings/
.gradle/
eclipse/

.project
.classpath
MANIFEST.MF
build.properties
Thumbs.db
.DS_Store
